<a href="https://colab.research.google.com/github/Abhishek2114/github.com-Abhisheksingh-web-scraping-project/blob/main/IMDB_Top_100_Movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd

df = pd.read_csv("movies.csv")

print("Shape:", df.shape)
print("\nColumns:", df.columns.tolist())
print("\nSummary:")
print(df.describe(include="all"))

Shape: (1000, 8)

Columns: ['Unnamed: 0', 'movie', 'year', 'time_minute', 'imdb_rating', 'metascore', 'vote', 'gross_earning']

Summary:
         Unnamed: 0                            movie         year  \
count   1000.000000                             1000  1000.000000
unique          NaN                              998          NaN
top             NaN  The Girl with the Dragon Tattoo          NaN
freq            NaN                                2          NaN
mean     499.500000                              NaN  1991.013000
std      288.819436                              NaN    23.059587
min        0.000000                              NaN  1920.000000
25%      249.750000                              NaN  1976.000000
50%      499.500000                              NaN  1998.500000
75%      749.250000                              NaN  2009.000000
max      999.000000                              NaN  2019.000000

        time_minute  imdb_rating   metascore          vote  gross_earning
count   1000.000000  1000.000000  835.000000  1.000000e+03     841.000000
unique          NaN          NaN         NaN           NaN            NaN
top             NaN          NaN         NaN           NaN            NaN
freq            NaN          NaN         NaN           NaN            NaN
mean     122.250000     7.943200   77.658683  2.659911e+05      68.737325
std       27.871856     0.277544   12.458936  3.144706e+05     109.255151
min       45.000000     7.600000   28.000000  2.518200e+04       0.000000
25%      102.000000     7.700000   70.000000  5.442525e+04       3.900000
50%      119.000000     7.900000   79.000000  1.368875e+05      24.790000
75%      136.000000     8.100000   87.000000  3.631140e+05      83.040000
max      321.000000     9.300000  100.000000  2.250445e+06     936.660000

In [15]:
top10_imdb = df.sort_values(by="imdb_rating", ascending=False).head(10)
print(top10_imdb[["movie", "year", "imdb_rating"]])

                                             movie  year  imdb_rating
10                        The Shawshank Redemption  1994          9.3
13                                   The Godfather  1972          9.2
91                          The Godfather: Part II  1974          9.0
18                                 The Dark Knight  2008          9.0
60                                Schindler's List  1993          8.9
48   The Lord of the Rings: The Return of the King  2003          8.9
21                                    Pulp Fiction  1994          8.9
152                                   12 Angry Men  1957          8.9
77                  The Good, the Bad and the Ugly  1966          8.8
12                                       Inception  2010          8.8

In [16]:
top10_gross = df.sort_values(by="gross_earning", ascending=False).head(10)
print(top10_gross[["movie", "year", "gross_earning"]])

                                          movie  year  gross_earning
179  Star Wars: Episode VII - The Force Awakens  2015         936.66
6                             Avengers: Endgame  2019         858.37
53                                       Avatar  2009         760.51
34                       Avengers: Infinity War  2018         678.82
24                                      Titanic  1997         659.33
116                                The Avengers  2012         623.28
287                               Incredibles 2  2018         608.58
18                              The Dark Knight  2008         534.86
147                Rogue One: A Star Wars Story  2016         532.18
40                        The Dark Knight Rises  2012         448.14

In [17]:
avg_rating_year = df.groupby("year")["imdb_rating"].mean().reset_index()
print(avg_rating_year.head())

   year  imdb_rating
0  1920          8.1
1  1921          8.3
2  1922          7.9
3  1924          8.2
4  1925          8.1

In [18]:
df["decade"] = (df["year"] // 10) * 10
top5_decade = df.sort_values(["decade", "imdb_rating"], ascending=[True, False]) \
                .groupby("decade").head(5)

for decade, group in top5_decade.groupby("decade"):
    print(f"\n--- {decade}s ---")
    print(group[["movie", "year", "imdb_rating"]])

--- 1920s ---
                           movie  year  imdb_rating
513                   Metropolis  1927          8.3
846                      The Kid  1921          8.3
895                The Gold Rush  1925          8.2
966                 Sherlock Jr.  1924          8.2
809  The Cabinet of Dr. Caligari  1920          8.1

--- 1930s ---
                     movie  year  imdb_rating
609           Modern Times  1936          8.5
720            City Lights  1931          8.5
603                      M  1931          8.3
243     Gone with the Wind  1939          8.1
681  It Happened One Night  1934          8.1

--- 1940s ---
                     movie  year  imdb_rating
415  It's a Wonderful Life  1946          8.6
254             Casablanca  1942          8.5
570     The Great Dictator  1940          8.4
314           Citizen Kane  1941          8.3
636       Double Indemnity  1944          8.3

--- 1950s ---
              movie  year  imdb_rating
152    12 Angry Men  1957          8.9
270   Seven Samurai  1954          8.6
324     Rear Window  1954          8.4
516    Sunset Blvd.  1950          8.4
573  Paths of Glory  1957          8.4

--- 1960s ---
                              movie  year  imdb_rating
77   The Good, the Bad and the Ugly  1966          8.8
543                        Harakiri  1962          8.7
105                          Psycho  1960          8.5
269    Once Upon a Time in the West  1968          8.5
754                    High and Low  1963          8.5

--- 1970s ---
                                  movie  year  imdb_rating
13                        The Godfather  1972          9.2
91               The Godfather: Part II  1974          9.0
158     One Flew Over the Cuckoo's Nest  1975          8.7
92   Star Wars: Episode IV - A New Hope  1977          8.6
687                               Anand  1971          8.6

--- 1980s ---
                                              movie  year  imdb_rating
198  Star Wars: Episode V - The Empire Strikes Back  1980          8.7
11                               Back to the Future  1985          8.5
399                          Grave of the Fireflies  1988          8.5
433                                 Cinema Paradiso  1988          8.5
65                                      The Shining  1980          8.4

--- 1990s ---
                       movie  year  imdb_rating
10  The Shawshank Redemption  1994          9.3
21              Pulp Fiction  1994          8.9
60          Schindler's List  1993          8.9
41              Forrest Gump  1994          8.8
44                Fight Club  1999          8.8

--- 2000s ---
                                                movie  year  imdb_rating
18                                    The Dark Knight  2008          9.0
48      The Lord of the Rings: The Return of the King  2003          8.9
8   The Lord of the Rings: The Fellowship of the Ring  2001          8.8
83              The Lord of the Rings: The Two Towers  2002          8.7
82                                      Spirited Away  2001          8.6

--- 2010s ---
                     movie  year  imdb_rating
12               Inception  2010          8.8
1                 Parasite  2019          8.6
14            Interstellar  2014          8.6
0                    Joker  2019          8.5
34  Avengers: Infinity War  2018          8.5

In [19]:
print(df[["imdb_rating", "metascore", "vote", "gross_earning"]].corr())

               imdb_rating  metascore      vote  gross_earning
imdb_rating       1.000000   0.266828  0.494340       0.101150
metascore         0.266828   1.000000 -0.004803      -0.023444
vote              0.494340  -0.004803  1.000000       0.570175
gross_earning     0.101150  -0.023444  0.570175       1.000000

In [20]:
df.to_excel("movies_with_decade.xlsx", index=False)
print("Saved to movies_with_decade.xlsx")

Saved to movies_with_decade.xlsx